<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/symfonywebconfigurator/css/configure.css') }}" type="text/css" media="all" />
        <title>{% block title %}Web Configurator Bundle{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('bundles/symfonywebconfigurator/images/favicon.ico') }}" />
    </head>
    <body>
        <div id="symfony-wrapper">
            <div id="symfony-header">
                <img src="{{ asset("bundles/symfonywebconfigurator/images/logo-small.gif") }}" alt="Symfony" />
            </div>
            <div id="symfony-content">
                {% block content %}{% endblock %}
            </div>
            <div class="version">Symfony Standard Edition v.{{ version }}</div>
        </div>
    </body>
</html>
