@import url("install.css");

h1 {
    margin-top: 10px;
    font-size: 26px;
}

#symfony-wrapper {
    padding-top: 0;
}

#symfony-search {
    position: absolute;
    top: 50px;
    right: 30px;
}

#symfony-search-field {
    width: 190px;
}

#symfony-search label {
    display: block;
    float: left;
    width: 20px;
    height: 25px;
    background: url(../images/search.png) no-repeat left 5px;
}

#symfony-search label span {
    display: none;
}

input[type=text] {
    border: 1px solid #DADADA;
    background: white url(../images/field-background.gif) repeat-x left top;
    padding: 5px 6px;
    color: #565656;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}


.symfony-button-grey, .symfony-button-green {
    font-size: 0.85em;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    padding: 3px 10px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.symfony-button-grey {
    color: #868686;
    font-weight: normal;
    padding: 5px 10px;
    border: solid 1px #d7d7d7;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7d7));
    background: -moz-linear-gradient(top,  #ffffff,  #d7d7d7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d7d7d7');
}

.symfony-button-green {
    padding: 5px 12px;
    color: white;
    border: solid 1px #a7da39;
    background: #a7da39;
    background: -webkit-gradient(linear, left top, left bottom, from(#a7da39), to(#6a9211));
    background: -moz-linear-gradient(top,  #a7da39,  #6a9211);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7da39', endColorstr='#6a9211');
}

.symfony-block-steps span {
    display: inline-block;
    padding: 2px 3px;
    font-size: 11px;
    line-height: 15px;
    color: #868686;
    font-weight: bold;
    text-transform: uppercase;
}

.symfony-block-steps span.selected {
    background-color: #aacd4e;
    color: #FFFFFF;
}


.symfony-form-row {
    padding-bottom: 40px;
}

.symfony-form-column {
    width: 430px;
    float: left;
}

.symfony-form-footer {
    padding-top: 20px;
    clear: both;
}

.symfony-form-field {
    height: 20px;
}

.symfony-form-row label {
    display: block;
    padding-bottom: 8px;
}

.symfony-form-field input[type=text],
.symfony-form-field input[type=password],
.symfony-form-field textarea,
.symfony-form-field select {
    font-size: 13px;
    color: #565656;
    width: 200px;
}

.symfony-form-field input[type=text],
.symfony-form-field input[type=password],
.symfony-form-field textarea {
    border: 1px solid #dadada;
    background: #FFFFFF url(../images/background-textfield.gif) repeat-x left top;
    width: 194px;
    padding: 5px 6px;
}

.symfony-form-errors ul {
    padding: 0;
}

.symfony-form-errors li {
    background: url(../images/notification.gif) no-repeat left 6px;
    font-size: 11px;
    line-height: 16px;
    color: #759e1a;
    padding: 10px 25px;
}

.symfony-configuration {
    margin: 10px 0;
    width: 100%;
    height: 240px;
}
